Flask==0.10.1
Flask-RESTful==0.2.12
Flask-SQLAlchemy==1.0
Jinja2==2.7.3
MarkupSafe==0.23
SQLAlchemy==0.9.6
Werkzeug==0.9.6
aniso8601==0.82
gunicorn==19.0.0
itsdangerous==0.24
pytz==2014.4
requests==2.3.0
six==1.7.3
