nose==1.3.7
Flask==1.0.3
Flask-RESTful==0.3.7
Flask-SQLAlchemy==2.4.0
Flask-Versioned==0.9.4-20101221
MarkupSafe==0.23
SQLAlchemy==1.3.4
aniso8601==0.83
itsdangerous==0.24
newrelic==2.24.0.21
pytz==2014.4
requests==2.22.0
six==1.7.3
