<!DOCTYPE html>
<html lang="en" ng-app="steamWorkshopDownloaderApp">
<head>
	<meta charset="utf-8">
	<title>Steam Workshop Downloader</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,300|Oswald:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.min.css') }}">
</head>
<body>
<div class="wrapper container">
<header>
<h1 class="headline"><span class="headline__sw">Steam Workshop</span> Downloader</h1>
<h2 class="tagline">It doesn't matter if you're 9 or 99, it doesn't get easier than this!</h2>
</header>

<main ui-view>
</main>
<hr>
<footer>
<a class="creator-link" href="https://github.com/fgblomqvist">This site was created at 145 BPM using rainbow energy and coke.</a>
</footer>
</div>

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular-resource.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
<script src="{{ url_for('static', filename='js/controllers.js') }}"></script>
<script src="{{ url_for('static', filename='js/services.js') }}"></script>
<script src="{{ url_for('static', filename='js/directives.js') }}"></script>
<script src="{{ url_for('static', filename='js/filters.js') }}"></script>
<script src="{{ url_for('static', filename='js/tools.js') }}"></script>
</body>
</html>