<!DOCTYPE html>
<html lang="en" ng-app="steamWorkshopDownloaderApp">
<head>
	<meta charset="utf-8">
	<title>Steam Workshop Downloader</title>
</head>
<body>

<div>
    <ul>
        <li><a ui-sref="home">Home</a></li>
        <li><a ui-sref="about">About</a></li>
    </ul>
</div>
<div ui-view>
</div>


<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
<script src="{{ url_for('static', filename='js/controllers.js') }}"></script>
<script src="{{ url_for('static', filename='js/services.js') }}"></script>
<script src="{{ url_for('static', filename='js/directives.js') }}"></script>
<script src="{{ url_for('static', filename='js/filters.js') }}"></script>
</body>
</html>