<section class="form-group">
    <label for="steamworkshopurl">Enter the URL to an item in the Steam Workshop:</label>
    <div class="steamworkshopurl-form">
        <input type="text" id="steamworkshopurl" class="form-control steamworkshopurl" ng-model="steamworkshop_url" ng-change="view()" placeholder="e.g. http://steamcommunity.com/sharedfiles/filedetails/?id=104910430">
        <i class="glyphicon glyphicon-refresh icon-spin loading-icon" ng-show="loading"></i>
    </div>
</section>

<section ui-view></section>