<div class="addon-info panel panel-default" ng-show="file.title || message">
    <div class="panel-body">
        <div class="message" ng-show="!file.title && message">{[{ message }]}</div>
        <div class="row" ng-show="file.title">
            <div class="col-sm-3">
                <img class="addon__thumbnail img-rounded" ng-src="{[{ file.preview_url }]}">
            </div>
            <div class="col-sm-9">
                <h3 class="addon__title">{[{ file.title }]}</h3><br>
                <a class="addon__download-button" href="" ng-click="download()" download>Download ({[{ file.file_size | bytes }]})</a>
            </div>
        </div>
    </div>
</div>